In [18]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [19]:
# Index Levels
outside =  ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [20]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [21]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [24]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [25]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [36]:
df.index.names = ['Group','Num']

In [37]:
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [38]:
df.loc['G2'].loc[2]['B']

0.7401220570561068

In [39]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [40]:
df.xs(1,level='Num')

              A         B
Group
G1     2.706850  0.628133
G2    -0.848077  0.605965